@if(isGameOver){
<end-game-screen [winner]="winner" />
} @else if (!isGameInitialised) {
<initial-screen />
} @else {
<div>
  <div>
    <div class="relative w-full h-[58dvh] md:h-[70dvh]">
      <img
        ngSrc="/img/wooden-desk.png"
        width="1920"
        height="1080"
        class="absolute top-0 left-0 w-full h-full object-cover -z-1"
        alt="Wooden desk background"
        priority
      />
      @if (isOwnTurn) {
      <h2 class="text-white text-center py-8 text-4xl">
        {{ "app.ownTurn" | translate }}
      </h2>
      } @else {
      <h2 class="text-white text-center py-8 text-4xl">
        {{ "app.otherTurn" | translate }}{{ currentPlayerName.userName }}
      </h2>
      }
      <div class="w-full h-[25vw] max-h-[200px] mb-8">
        @if (fromOpponentLastDrawnCard ){
        <div
          class="flex flex-col items-center"
          id="opponents-last-drawn-card"
          animate.enter="slide-from-top"
        >
          <h3 class="text-white">{{ "app.opponentsCard" | translate }}</h3>
          <card-with-backface
            [card]="fromOpponentLastDrawnCard"
            [player]="player!"
            [leadingSuit]="leadingSuit"
            [isOpponentLastDrawnCard]="true"
          />
        </div>
        }
      </div>

      <div class="flex items-center justify-around">
        <div class="w-[18vw] md:w-[10vw] aspect-2/3 max-w-[140px]">
          @if(card1) {
          <div
            class="flex flex-col items-center"
            [animate.enter]="animation1"
            animate.leave="slide-out"
          >
            <h3 class="text-white">{{ "app.player" | translate }} 1</h3>
            <deck-single-card
              [data]="card1"
              [player]="player()!"
              [leadingSuit]="leadingSuit"
            />
          </div>
          }
        </div>
        <div class="w-[18vw] md:w-[10vw] aspect-2/3 max-w-[140px]">
          @if(card2){
          <div
            class="flex flex-col items-center"
            [animate.enter]="animation2"
            animate.leave="slide-out"
          >
            <h3 class="text-white">{{ "app.player" | translate }} 2</h3>
            <deck-single-card
              [data]="card2"
              [player]="player()!"
              [leadingSuit]="leadingSuit"
            />
          </div>
          }
        </div>
        <div class="w-[18vw] md:w-[10vw] max-w-[140px] aspect-2/3">
          <div class="flex flex-col items-center">
            <h3 class="text-white">{{ "app.deck" | translate }}</h3>
            <div class="w-[17vw] md:w-[9vw] max-w-[135px] aspect-2/3" #deckRef>
              <div
                class="w-[92%] h-full bg-cover bg-center rounded-sm"
                [style.backgroundImage]="'url(img/card_back.png)'"
              ></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div>
      <div class="flex justify-between my-4 items-center">
        <span class="text-white mx-4" id="points"
          >{{ "app.points" | translate }}
          {{ player()!.points / 3 | number : "1.1-1" }}</span
        >
        <button
          matButton="elevated"
          class="mx-4"
          id="quit-btn"
          (click)="endGame()"
        >
          {{ "app.quitGame" | translate }}
        </button>
      </div>
      <ul class="list-none flex flex-wrap justify-around">
        @for(card of hand; track card.id; let index = $index){
        <!-- The z index of (20 - index) is needed to let the first dealed card being on top of the other cards in the dealing animation -->
        <li [style.z-index]="20 - index">
          <card-with-backface
            [card]="card"
            [player]="player"
            [leadingSuit]="leadingSuit"
            [currentPlayerName]="currentPlayerName"
            #cardWithBackfaceRef
          />
        </li>
        }
      </ul>
    </div>
  </div>
</div>
}

<router-outlet />
