@if(isGameOver){
<app-end-game-screen [winner]="winner" />
} @else if (!isGameInitialised) {
<app-initial-screen />
} @else {
<div>
  <div>
    <div
      class="game-table relative w-full h-[70dvh] bg-[url('/img/wooden-desk.png')] bg-cover bg-center"
    >
      <h2 class="text-white text-center py-8">
        It's the turn of {{ currentPlayerName }}
      </h2>
      <div class="cards-container absolute inset-0">
        @if(card1){
        <h3 class="text-white">Player 1 played card</h3>
        <app-deck-single-card
          [data]="card1"
          [player]="player"
          [leadingSuit]="leadingSuit"
        />
        } @if(card2){
        <h3 class="text-white">Player 2 played card</h3>
        <app-deck-single-card
          [data]="card2"
          [player]="player"
          [leadingSuit]="leadingSuit"
        />
        }
      </div>
    </div>
    <div>
      <div class="flex justify-between my-4 items-center">
        <span class="text-white mx-4">
          Your points: {{ normalizePoints(player.points) }}
        </span>
        <button matButton="elevated" class="mx-4" (click)="endGame()">
          quit game
        </button>
      </div>
      <ul class="list-none flex flex-wrap justify-around">
        @for(card of hand; track card.id){
        <li class="mx-1">
          <app-deck-single-card
            [data]="card"
            [player]="player"
            [leadingSuit]="leadingSuit"
            [currentPlayerName]="currentPlayerName"
          />
        </li>
        }
      </ul>
    </div>
  </div>
</div>
}

<router-outlet />
