<mat-dialog-content>
  <div class="hidden">
    This div is used to remove the firstChild margin top 0 css class of material
    ui dialog
  </div>
  <div
    class="w-[40vw] md:w-[11vw] aspect-2/3 bg-cover bg-center rounded-sm mx-auto mt-6"
    [style.backgroundImage]="backgroundImageUrl"
  ></div
></mat-dialog-content>
<mat-dialog-actions align="center">
  <button matButton cdkFocusInitial (click)="playSingleCard(data.data)">
    {{ "singleCardDialog.playCard" | translate }}
  </button>
</mat-dialog-actions>
